/* 기본 브라우저 표시 요소 모두 제거 */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

/* 사파리에서 기본 날짜 텍스트 스타일 숨김 */
input[type="date"]::-webkit-datetime-edit {
  display: none;
}
