<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>추천 제품</title>
  </head>
  <body>
    <div class="px-20">
      <div class="p-4">
        <span class="text-3xl">추천제품</span>
        <div class="flex gap-2 justify-end">
          <img
            class="w-12"
            src="/src/assets/icons/Button-left.svg"
            alt="왼쪽 버튼"
          />
          <img
            class="w-12"
            src="/src/assets/icons/Button-right.svg"
            alt="오른쪽 버튼"
          />
        </div>
      </div>
      <div
        class="grid grid-cols-2 md:grid-cols-3 gap-6 p-4 w-full overflow-y-auto"
      >
        <div class="flex flex-col">
          <img
            class="w-xl object-contain aspect-square"
            src="/src/assets/img/nike.png"
            alt="제품 사진"
          />
          <span class="text-sm lg:text-base text-orange-800 mt-2">신제품</span>
          <span class="text-sm font-semibold">나이키 클럽</span>
          <span class="text-sm lg:text-base text-gray-400"
            >언스트럭처 데님 캡</span
          >
          <span class="text-base mt-3">39,000 원</span>
        </div>
        <div class="flex flex-col">
          <img
            class="object-contain aspect-square"
            src="/src/assets/img/nike.png"
            alt="제품 사진"
          />
          <span class="text-sm lg:text-base text-orange-800 mt-2">신제품</span>
          <span class="text-sm font-semibold">나이키 클럽</span>
          <span class="text-sm lg:text-base text-gray-400"
            >언스트럭처 데님 캡</span
          >

          <span class="text-base mt-3">39,000 원</span>
        </div>
        <div class="flex flex-col">
          <img
            class="object-contain aspect-square"
            src="/src/assets/img/nike.png"
            alt="제품 사진"
          />
          <span class="text-sm lg:text-base text-orange-800 mt-2">신제품</span>
          <span class="text-sm font-semibold">나이키 클럽</span>
          <span class="text-sm lg:text-base text-gray-400"
            >언스트럭처 데님 캡</span
          >

          <span class="text-base mt-3">39,000 원</span>
        </div>
      </div>
    </div>
  </body>
</html>
