:root {
  --white: #ffffff;
  --black: #1d1d1f;
  --red: #9e3500;
  --gray: #f5f5f5;
  --gray-100: #e5e5e5;
  --gray-200: #cacacb;
  --gray-300: #9e9ea0;
  --gray-400: #707072;
}

@import "tailwindcss";
@import "./assets/css/style.css";
@font-face {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("Noto Sans Regular"),
    local("NotoSans-Regular"),
    url("../src/assets/css/font/eot/NotoSansKR-Regular-Hestia.eot"),
    url("../src/assets/css/font/eot/NotoSansKR-Regular-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/css/font/woff/NotoSansKR-Regular-Hestia.woff")
      format("woff"),
    url("../src/assets/css/font/otf/NotoSansKR-Regular-Hestia.otf")
      format("opentype");
}
@font-face {
  font-family: "Noto Sans Bold";
  font-style: normal;
  font-weight: 700;
  src:
    local("Noto Sans Bold"),
    local("NotoSans-Bold"),
    url("../src/assets/css/font/eot/NotoSansKR-Bold-Hestia.eot"),
    url("../src/assets/css/font/eot/NotoSansKR-Bold-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/css/font/woff/NotoSansKR-Bold-Hestia.woff")
      format("woff"),
    url("../src/assets/css/font/otf/NotoSansKR-Bold-Hestia.otf")
      format("opentype");
}

body {
  font-family: "Noto Sans Regular", sans-serif;

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer productDetail {
  .size-btn {
    @apply h-12 border border-[#E5E5E5] rounded-sm text-base;
  }

  .categoryBtn {
    @apply relative after:content-[''] after:absolute after:left-0 after:-bottom-1 after:w-full after:h-[3px] after:bg-[#111]
            after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-150;
  }

  .mobileBtn {
    @apply text-2xl transition-colors duration-200 hover:text-[#9E9EA0] flex items-center justify-between px-1 -mx-1 py-1;
  }
}
