:root {
  --white: #ffffff;
  --black: #1d1d1f;
  --red: #9e3500;
  --gray: #f5f5f5;
  --gray-100: #e5e5e5;
  --gray-200: #cacacb;
  --gray-300: #9e9ea0;
  --gray-400: #707072;
}

@import "tailwindcss";
@import "./assets/css/style.css";
@font-face {
  font-family: "Noto Sans Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("Noto Sans Regular"),
    local("NotoSans-Regular"),
    url("../src/assets/css/font/eot/NotoSansKR-Regular-Hestia.eot"),
    url("../src/assets/css/font/eot/NotoSansKR-Regular-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/css/font/woff/NotoSansKR-Regular-Hestia.woff")
      format("woff"),
    url("../src/assets/css/font/otf/NotoSansKR-Regular-Hestia.otf")
      format("opentype");
}
@font-face {
  font-family: "Noto Sans Bold";
  font-style: normal;
  font-weight: 700;
  src:
    local("Noto Sans Bold"),
    local("NotoSans-Bold"),
    url("../src/assets/css/font/eot/NotoSansKR-Bold-Hestia.eot"),
    url("../src/assets/css/font/eot/NotoSansKR-Bold-Hestia.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/css/font/woff/NotoSansKR-Bold-Hestia.woff")
      format("woff"),
    url("../src/assets/css/font/otf/NotoSansKR-Bold-Hestia.otf")
      format("opentype");
}

body {
  font-family: "Noto Sans Regular", sans-serif;
}

@media (min-width: 768px) {
  #sport-track .sport-card {
    width: calc((100% - 2rem) / 3); /* gap-4(=16px) 기준으로 3개 나열 */
  }
}


style.css
